<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload file</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="file_to_upload" id="file_to_upload">
        <br>
        <input type="radio" name="file_timer" value="thirty_minutes"> 30 minutes <br>
        <input type="radio" name="file_timer" value="one_hour"> 1 hour <br>
        <input type="radio" name="file_timer" value="three_hours"> 3 hours <br>
        <input type="submit" value="Upload File" name="submit">
    </form>
</body>
</html>